<h2>Live Products</h2>

<table>
    <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Code</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Status</th>
        <th>Price</th>
        <th>Thumbnails</th>
    </thead>
    <tbody>
    {{#if products}}
    {{#each products}}
        <tr>
            <td>{{ title }}</td>
            <td>{{ description }}</td>
            <td>{{ code }}</td>
            <td>{{ category }}</td>
            <td>{{ stock }}</td>
            <td>{{ status }}</td>
            <td>{{ price }}</td>
            <td>{{ thumbnails }}</td>
        </tr>
    {{/each}}
    {{/if}}
    </tbody>

</table>