<h2>Live Products</h2>
<form id="my-form" onsubmit="event.preventDefault()">
    <label for="title"> Title:
        <input type="text" name="title">
    </label>
    <label for="description"> Description:
        <input type="text" name="description">
    </label>
    <label for="code"> Code:
        <input type="text" name="code">
    </label>
    <label for="category"> Category:
        <input type="text" name="category">
    </label>
    <label for="stock"> Stock:
        <input type="number" name="stock">
    </label>
    <label for="status"> Status:
        <input type="checkbox" name="status" value="true">
    </label>
    <label for="price"> Price:
        <input type="text" name="price">
    </label>
    <button type="submit" id="add-product-btn">Add Product</button>
</form>
<table>
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Code</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Status</th>
        <th>Price</th>
        <th>Thumbnails</th>
        <th>Delete?</th>
    </thead>
    <tbody id="table-body">
    {{#if products}}
    {{#each products}}
        <tr>
            <td>{{ id }}</td>
            <td>{{ title }}</td>
            <td>{{ description }}</td>
            <td>{{ code }}</td>
            <td>{{ category }}</td>
            <td>{{ stock }}</td>
            <td>{{ status }}</td>
            <td>{{ price }}</td>
            <td>{{ thumbnails }}</td>
            <td><i data-id="{{ id }}" class="delete-btn fa fa-trash"></i></td>
        </tr>
    {{/each}}
    {{/if}}
    </tbody>

</table>


<script src="/socket.io/socket.io.js"></script>
<script type="module" src="./js/socketClient.js"></script>